<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :prompt %><br>
    <%= f.text_field :prompt, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :possible1, "Possible Answer 1" %><br>
    <%= f.text_field :possible1, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :possible2, "Possible Answer 2" %><br>
    <%= f.text_field :possible2, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :possible3, "Possible Answer 3" %><br>
    <%= f.text_field :possible3, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :possible4, "Possible Answer 4" %><br>
    <%= f.text_field :possible4, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :correct, "Correct" %><br>
    <%= f.text_field :correct, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :question_type, "Question Type" %><br>
    <%= f.select :question_type, ['shortans', 'longans', 'multchoice', 'truefalse'], class: "form-control" %>
  </div>
  <br />
  <div class="actions">
    <%= f.submit "Update Question", class: "btn btn-primary pull-left"%>
  </div>
<% end %>
