<div class="row">
  <div class="col-md-12">
    <h1>Test Questions</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table style = "color: black;" class="table">
      <tr>
        <th>Prompt</th>>
        <th>Author</th>
        <th>Edit</th>
      </tr>
      <% @questions.each do |q| %>
        <tr>
          <td><%= q.prompt %></td>
          <% end %>
          <td>
            <% @user = User.find_by_id(q.user_id) %>
            <% if @user %>
              <%= @user.firstname %> <%= @user.lastname %>
            <% end %>
          </td>
          <td><%= link_to "Edit", edit_question_path(q.id), class: "btn btn-default btn-block" %></td>
        </tr>
      <% end %>
    </table>
    <%= link_to "Create New Question", new_question_path, class: "btn btn-primary"%>
    <%= link_to "Question Edit Log", notifications_path, class: "btn btn-primary" %>
  </div>
</div>
