<div class="row">
  <div class="col-md-12">
    <h1>Test Questions</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table style = "color: black;" class="table">
      <tr>
        <th>Prompt</th>
        <th>Option 1</th>
        <th>Option 2</th>
        <th>Option 3</th>
        <th>Option 4</th>
        <th>Correct Answer</th>
        <th>Edit</th>
      </tr>
      <% @questions.each do |q| %>
        <tr>
          <td><%= q.prompt %></td>
          <% if q.possible1 %>
          <td><%= q.possible1 %></td>
          <% end %>
          <% if q.possible2 %>
          <td><%= q.possible2 %></td>
          <% end %>
          <% if q.possible3 %>
          <td><%= q.possible3 %></td>
          <% else %>
          <td></td>
          <% end %>
          <% if q.possible4 %>
          <td><%= q.possible4 %></td>
          <% else %>
          <td></td>
          <% end %>
          <% if q.correct %>
          <td><%= q.correct %></td>
          <% end %>
          <td><%= link_to "Edit", edit_question_path(q.id), class: "btn btn-default btn-block" %></td>
        </tr>
      <% end %>
    </table>
    <%= link_to "Create New Question", new_question_path, class: "btn btn-primary"%>
  </div>
</div>
