<div class="row">
  <div class="col-md-12">
    <h1>Registered Users</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table" style="color: black;">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Student ID</th>
        <th>Recent Score</th>
        <th>Role</th>
      </tr>
      <% @users.each do |u| %>
      <tr>
        <td><%= u.firstname %></td>
        <td><%= u.lastname %></td>
        <td><%= u.studentid %></td>
        <td><%=  defined?(u.usertests.last.score) ? u.usertests.last.score : 0 %></td>
        <td><%= u.role == "admin" ? "admin" : "student" %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
