<div class="row">
  <div class="col-md-12">
    <h1>Registered Users</h2>
  </div>
</div>
<div class="row">
  <%= line_chart User.group_by_day(:created_at).count %>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table" style="color: black;">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Student ID</th>
        <th>Recent Score</th>
        <th>Role</th>
        <th>Change Admin</th>
      </tr>
      <% @users.each do |u| %>
      <tr>
        <td><%= u.firstname %></td>
        <td><%= u.lastname %></td>
        <td><%= u.studentid %></td>
        <td><%=  defined?(u.usertests.last.score) ? u.usertests.last.score : 0 %></td>
        <td><%= u.role == "admin" ? "Admin" : "Student" %></td>
        <% if !u.admin? %>
        <td><%= button_to "Make Admin", make_admin_path(id: u.id) , method: :put, class: "btn btn-primary btn-block" %></td>
        <% else %>
        <td><%= button_to "Remove Admin", remove_admin_path(id: u.id) , method: :put, class: "btn btn-danger btn-block" %></td>
        <% end %>
      </tr>
      <% end %>
    </table>
  <%= link_to 'Download as CSV', users_path(format: :csv) %>
  </div>
</div>
