<div class="row">
  <div class="col-md-12">
    <h1>List of all Tests</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table" style="color:black;">
      <tr>
        <th>Student's Name</th>
        <th>Score</th>
        <th>View Test</th>
      </tr>
    <% @usertests.each do |ut| %>
      <% @user = User.find_by_id(ut.user_id) %>
      <tr>
        <td><%= @user.firstname %> <%= @user.lastname %></td>
        <td><%= ut.score %></td>
        <td><%= button_to "View Test", usertest_path(ut.id), class: "btn btn-default btn-block", method: :get %></td>
      </tr>
      <% end %>
    </table>
    <%= link_to 'Download as CSV', usertests_path(format: :csv) %> 
  </div>
</div>
