<% content_for :page_javascript do %>
  <script type="text/javascript">
  $('#open').click(function() {
      var studentid = $('#studentid').val();
      var test_url = "/showtest?studentid=" + studentid;
      $.ajax({type: "GET",
        url: test_url,
        success: function (result) {
          $("#results").html(result);
        },
        error: function (result) {
          $("#results").html("<h4>Error: Student ID not found.</h4>");
        }
      })
      $('#studentid_lookup').css('visibility', 'visible');
  });
  $('#close').click(function() {
      $('#studentid_lookup').css('visibility', 'hidden');
  });
  </script>
<% end %>
<div class="row">
  <div class="col-md-12">
    <h1>Test Dashboard</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading"><h3 class="panel-title">Score Lookup</small></h3></div>
      <div class="panel-body">
        <label class="control-label">Student ID</label>
        <div class="input-group">
          <input type="text" class="form-control" id="studentid">
          <span class="input-group-btn">
            <button class="btn btn-default" id="open" name="open" type="button">Search</button>
          </span>
        </div>
      </div>
    </div>
    <div class="panel panel-default" id="studentid_lookup" style="visibility: hidden">
      <div class="panel-heading"><h3 class="panel-title"><%= %></small></h3></div>
      <div class="panel-body">
        <div id="results">
        </div>
        <button class="btn btn-default" id="close" name="close" type="button">Close</button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading"><h3 class="panel-title">Test Versions <small>Five Most Recent</small></h3></div>
      <div class="panel-body">
        <%= render partial: "testversions/index", locals: { testversions: @testversions }  %>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading"><h3 class="panel-title">Test Versions <small>Five Most Recent</small></h3></div>
      <div class="panel-body">
        <table class="table">
          <tr>
            <th><h4>Student's Name</h4></th>
            <th><h4>Score</h4></th>
            <th><h4>Date Taken</h4></th>
            <th><h4>View Test</h4></th>
          </tr>
        <% @usertests.each do |ut| %>
          <% @user = User.find_by_id(ut.user_id) %>
          <tr>
            <td><h5><%= @user.firstname %> <%= @user.lastname %></h5></td>
            <td><h5><%= ut.score %></h5></td>
            <td><h5><%= ut.created_at.to_formatted_s(:long) %></h5></td>
            <td><h5><%= button_to "View Test", usertest_path(ut.id), class: "btn btn-default btn-block", method: :get %></h5></td>
          </tr>
          <% end %>
        </table>
        <%= button_to 'Download All as CSV', usertests_path(format: :csv), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
