<table class="table" style="color: black;">
<tr>
<td><%= response.radio_button :response_data, question.possible1 %> <%= question.possible1 %></td>
<td><%= response.radio_button :response_data, question.possible2 %> <%= question.possible2 %></td>
</tr>
<tr>
<td><%= response.radio_button :response_data, question.possible3 %> <%= question.possible3 %></td>
<td><%= response.radio_button :response_data, question.possible4 %> <%= question.possible4 %></td>
</tr>
</table>
