<div class="form-horizontal">
  <%= form_for(@testversion) do |f|  %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :startdate %>
      <%= f.text_field :startdate, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :endate %>
      <%= f.text_field :enddate, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :isopen, "Active?" %>
      <%= f.radio_button :isopen, "1" %>
      <%= label_tag(:true, "True") %>
      <%= f.radio_button :isopen, "0" %>
      <%= label_tag(:false, "False") %>    </div>
    <div class="form-group">
      <%= f.submit %>
    </div>
  <% end %>
</div>
