<table class="table">
  <tr>
    <th><h4>Title</h4></th>
    <th><h4>Start Date</h4></th>
    <th><h4>End Date</h4></th>
    <th><h4>Edit</h4></th>
  </tr>
<% testversions.each do |tv| %>
  <tr>
    <td><h5><%= tv.title %></h5></td>
    <td><h5><%= tv.startdate != nil ? tv.startdate.strftime("%B %d %Y") : "" %></h5></td>
    <td><h5><%= tv.enddate != nil ? tv.enddate.strftime("%B %d %Y") : "" %></h5></td>
    <td><%= link_to "Edit", edit_testversion_path(tv.id), class: "btn btn-info" %></td>
  </tr>
  <% end %>
</table>
<%= button_to "New Version", new_testversion_path, class: "btn btn-success", method: :get %>
