<table class="table" style="color:black;">
  <tr>
    <th>Title</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Edit</th>
  </tr>
<% testversions.each do |tv| %>
  <tr>
    <td><%= tv.title %></td>
    <td><%= tv.startdate != nil ? tv.startdate.strftime("%B %d %Y") : "" %></td>
    <td><%= tv.enddate != nil ? tv.enddate.strftime("%B %d %Y") : "" %></td>
    <% if Usertest.where(testversion_id: tv.id).count == 0 %>
    <td><%= link_to "Edit", edit_testversion_path(tv.id), class: "btn btn-default" %></td>
    <% else %>
    <td><%= link_to "Edit", "", class: "btn btn-default", disabled: true %></td>
    <% end %>
  </tr>
  <% end %>
</table>
<%= link_to "New Version", new_testversion_path %>
